h1 {
    font-size: 50px;
}

.name {
    font-size: 20px;
    color: chocolate;
}

.flexible-container {
    display: flex;
    margin-top: 100px;

}

.half-with {
    width: 50%;

}

.Experiences {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 40%;
    border-left: 8px solid #81fc3f;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px rgb(232, 232, 232)
}

.Full-baby {
    font-size: 40px;
}

.half-with img {
    width: 40%;
    padding: 50px 50px;
    margin: 100px 100px;
    margin-top: auto;
    border-color: 10px, black;

}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 7px 30px;
    margin: 4px 4px;
    border-radius: 5px;
    font-size: 20px;



}

#hire-me {
    color: aliceblue;
}

.Top-banner {
    border: black 2px;
    background-color: rgb(250, 250, 250);
    margin: auto;
    padding: 90px;

}